<div class="header" fxLayout="column" fxLayoutAlign="center center">
  <h1 class="jumbo">{{ title }}</h1>
  <h2>{{ subtitle }}</h2>
</div>

<div class="homepage" fxLayout="row">
  <div class="img">
    <img src="../../../assets/ice-cream-cherry.svg" alt="" srcset="">
  </div>
  <div class="img">
    <img src="../../../assets/ice-cream-prune.svg" alt="" srcset="">
  </div>
  <div class="img">
    <img src="../../../assets/ice-cream-squash.svg" alt="" srcset="">
  </div>
</div>
<div class="homepage2" fxLayout="row">
  <div class="img">
    <img src="../../../assets/popsicle-cherry.svg" alt="" srcset="">
  </div>
  <div class="img">
    <img src="../../../assets/popsicle-lettuce.svg" alt="" srcset="">
  </div>
  <div class="img">
    <img src="../../../assets/popsicle-lime.svg" alt="" srcset="">
  </div>
</div>